<a href="https://colab.research.google.com/github/rogerserramartin/Machine_Learning/blob/main/TutorialPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduccion
Lo mas importante en pandas son las series y los dataframes.
<p>Una serie es una columna.</p>
<p>Un dataframe es una tabla. Cada fila se llama row o record.</p>
Similar a los diccionarios, el nombre de la columna es una key, y el valor de la casilla un value.
<p>ej: diccionario = {"nombre": "pepe", "apellido": "sanchez"}</p>

# Importar librerias
Siempre se importa en las primeras lineas del fichero .py

In [ ]:
import pandas as pd

# Cargar un dataframe
Se puede crear a mano, o bien importandolo de ficheros csv, json, xml, de una base de datos, etc.
<P>https://pandas.pydata.org/docs/reference/frame.html<P>

In [ ]:
FILEPATH = 'directorio/archivo.extension'
mi_dataframe = pd.read_csv(FILEPATH)
mi_dataframe = pd.read_csv(FILEPATH)
mi_Dataframe = pd.read_json(FILEPATH)

<p>https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html</p>
<p>https://pandas.pydata.org/docs/reference/api/pandas.read_sql_query.html  --> Read SQL query into a DataFrame.  --> pillamos el resultado de una query en SQL.</p>
<p>https://pandas.pydata.org/docs/reference/api/pandas.read_sql_table.html  --> Read SQL database table into a DataFrame. --> pillamos una tabla entera.</p>

In [ ]:
# ejemplo de cargar una query a un dataframe
import pymysql
import pandas as pd

dbcon = pymysql.connect("localhost", "root", "root", "laravel7crud")

try:
    SQL_Query = pd.read_sql_query(
        '''select
          symptoms,
          country_name,
          cases
          from coronas''', dbcon)

    df = pd.DataFrame(SQL_Query, columns=['symptoms', 'country_name', 'cases'])
    print(df)
    print('The data type of df is: ', type(df))
except:
    print("Error: unable to convert the data")

#Consejos
<p>En python, para acceder a un atributo de un objeto hacemos: objeto.atributo</p>
<p>Con dataframes es similar, podemos hacer dataframe.nombredelacolumna o bien dataframe['nombredelacolumna'] </p>
<p>En los diccionarios de python tambien se utiliza [] para acceder a los valores.</p>
<p>En los dataframes, podemos acceder a filas con indices, asi: reviews['country'][0], accedemos al primer elemento. PERO ES MALA PRAXIS, con pandas se utiliza loc e iloc. </p>

In [4]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

# Indices
<p>Los indices en pandas siguen 2 paradigmas:</p>
<ol>
  <li>Index-based selection (iloc)</li>
  <li>Label-based selection (loc)</li>
</ol> 

### ILOC
<p>Los datos se seleccionan segun su posicion numerica.</p>
<p>Primero va la fila y despues la columna iloc[fila, columna].</p>
<p>reviews.iloc[0] -> selecciona la primera fila del dataframe.</p>
<p>reviews.iloc[:, 0] -> selecciona la primera columna del dataframe ((:) es para todo), revisar la documentacion de python. Ej: los 3 primeros [:3], 0,1,2</p>
<p>reviews.iloc[:3, 0] --> obtiene las 3 primeras celdas de la primera columna</p>
<p>Si no queremos pasar indexacion valor:valor podemos pasar una lista [0,2,3,5,7] etc</p>

### LOC
<p>Los datos se seleccionan segun su valor, no su posicion</p>
<p>reviews.loc[0, 'country'] -> primera casilla de la columna pais</p>
<p>Como podemos ver, lo que cambia es que en [fila, columna] la columna no es un numero, sino un tag.</p>

### Diferencia principal
<p>Lo que los diferencia es su esquema de indices, en el caso de iloc[0:3] pilla el 0, 1 y 2, pero loc[0:3] pilla los 4: 0,1,2,3. Loc se puede salir del tope + 1 asi que cuidado.</p>

# Condicionales
<p>Nos permiten obtener valores segun condiciones</p>
<p>reviews.loc[reviews.country == 'Italy'] -> obtiene todas las filas cuyo pais es Italia, columna Italia</p>
<p>Podemos meter mas columnas reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]</p>
<p>Icluso que los valores esten dentro de un rango o coincidan con strings ->
reviews.loc[reviews.country.isin(['Italy', 'France'])]</p>
<p>reviews['country'].isin([]) queda mejor!</p>

# Asignar valores
<p>Esto es lo que he hecho en la migracion de la empresa, lo de dataframe['columna'] = 'valor'.</p>
<p>Asignar valores es mucho mas facil, especialmente si son constantes.</p>
<p>Podemos asignar los valores de forma variable, como pasandole una funcion, alguna lambda o incluso un bucle, o tambien concatenando varias columnas como he venido haciendo anteriormmente.</p>

# Insertar un dataframe en una base de datos
Tenemos que utilizar sqlalchemy, una libreria de python similar al Hibernate de java.
<p>https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html</p>
<p>https://www.sqlalchemy.org/</p>
<p>https://docs.sqlalchemy.org/en/14/orm/session_transaction.html</p>